body { font-size: 62.5%; }

label, input { display: block; }

input.text {
    margin-bottom: 12px;
    padding: .4em;
    width: 95%;
}

fieldset {
    border: 0;
    margin-top: 25px;
    padding: 0;
}

h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

div#tabs { height: 100%; }

div#tabs div table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
}

div#tabs div table td, div#tabs div table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

div#tabs div table td:last-child, div#tabs div table th:last-child { width: 150px; }
/*div#tabs div table tr:hover { background-image: url("../Content/themes/base/images/ui-bg_gloss-wave_35_f6a828_500x100.png") }*/

.ui-dialog .ui-state-error { padding: .3em; }

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.invisible { display: none; }